$avatar_size = 36px;

* {
  font: 14px normal 'Avenir Next', 'Helvetica';
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body > div {
  padding: 50px;
}

ol {
  height: 500px;
  overflow: auto;
}
ol, li {
  list-style-type: none;
  padding-left: 0;
}
li {
  margin: 10px 0;
  padding-left: ($avatar_size + 10);
  position: relative;
  min-height: $avatar_size + 10;

  &:before {
    content: "";
    width: $avatar_size;
    height: $avatar_size;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eee;
  }

  &:hover {
    &:before {
      background-color: red;
    }
  }

  &.me {
    strong {
      color: blue !important;
    }

    &:before {
      background-color: #ccc;
    }
  }
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;

  &:focus {
    outline: none;
    border-color: #888;
  }
}
strong {
  display: block;
  font-weight: bold;
}

p {
  margin-top: 20px;

  u {
    color: lighten(blue, 40%);
    cursor: pointer;

    &:hover {
      color: blue;
    }
  }
}


